header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    background-color: #13293d;
    color: #fff;
  }
  span{
    color: lemonchiffon;
  }
  header nav{
    padding:10px
  }

  header nav ul{
    margin-right: 3vw;
    display: flex;
    justify-content: end;
    list-style: none;
  }
  header nav ul li{
    margin-left: 3vw;
    font-size: 1.2rem;
  }
  a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    text-transform:capitalize ;

  }
  nav ul li a:hover {
    color: lemonchiffon;

  }


  #aboutme{
    text-align: center;
    height:auto; 
    width: auto; 
    background-color: lemonchiffon;

  }
  .about img{
    height: auto;
    width: 400px;
  }
  #aboutme h2{
    margin-top: auto;
    font-size: 2rem;
  }
  .aboutme-content{
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    margin: 5vh 3vw 5vh 3vw
  }

  .aboutme-content p{
    font-size: 1.5rem;
    margin-left:3vw;
    text-align: justify;
  }

  #works h2{
    text-align: center;
    font-size: 2rem;
  }

  .mainRow{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
  }

  .workRow{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-bottom: 3vh;
  }
    
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    background-color: #13293d;
    color: #fff;
  }